body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: fantasy;
}

main {
  background-repeat: no-repeat;
  margin: 20px;
}

div {
  margin: 0px;
  padding: 0px;
}

ul {
  width: 600px;
  background-image: url('scroll.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
  text-align: left;
  padding-top: 3em;
  padding-left: 1em;
}

li {
  font-size: 1em;
}

.character-img {
  height: 300px;
}

.character-holder {
  display: flex;
  flex-direction: row;
  width: 400px;
}

#image-holder {
  width: 1220px;
  height: 680px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#moving-portrait {
  width: 200px;
  align-self: flex-start;
}
